<!-- SIGNUP -->
<form  [formGroup]="formSignup" class="p-5" (ngSubmit)="onSubmit()">
    <div class="mb-4">
        <div class="row">
            <div class="col">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" class="form-control" formControlName="name">
                <div class="text-danger" *ngIf="controls.name.errors && (controls.name.touched || controls.name.dirty)">
                    <span *ngIf="controls.name.errors?.required">El campo es requerido.</span>
                </div>
            </div>
            <div class="col">
                <label for="lastname" class="form-label">Apellido:</label>
                <input type="text" class="form-control" formControlName="lastname">
            </div>
            <div class="text-danger" *ngIf="controls.lastname.errors && (controls.lastname.touched || controls.lastname.dirty)">
                <span *ngIf="controls.lastname.errors?.required">El campo es requerido.</span>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <label for="email" class="form-label">Correo electrónico:</label>
        <input type="email" class="form-control" formControlName="email">
        <div class="text-danger" *ngIf="controls.email.errors && (controls.email.touched || controls.email.dirty)">
            <span *ngIf="controls.email.errors?.required">Debe ingresar un correo valido.</span>
            <br>
            <span *ngIf="controls.email.errors?.email">El campo es requerido.</span>
        </div>
    </div>
    <div class="mb-4">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" formControlName="password">
        <div class="text-danger" *ngIf="controls.password.errors && (controls.password.touched || controls.password.dirty)">
            <span *ngIf="controls.password.errors?.required">El campo es requerido.</span>
            <br>
            <span *ngIf="controls.password.errors?.minlength">La contraseña debe ser minimo de 8 caracteres.</span>
        </div>
    </div>
    <div class="mb-4">
        <label for="passwordc" class="form-label">Confirmar Contraseña:</label>
        <input type="password" class="form-control" formControlName="passwordc">
        <div class="text-danger" *ngIf="controls.passwordc.errors && (controls.passwordc.touched || controls.passwordc.dirty)">
            <span >Las contraseñas deben coincidir.</span>
        </div>
    </div>
    <div class="mb-4">
        <input type="checkbox" class="form-check-input mx-2" formControlName="acepted">
        <label for="acepted" class="form-label"> Acepto terminos y condiciones</label>
        <div class="text-danger" *ngIf="controls.acepted.errors && (controls.acepted.touched || controls.acepted.dirty)">
            <span >Debe aceptar los terminos y condiciones.</span>
        </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-danger" [disabled]="formSignup.invalid"> Registrar</button>
    </div>
    <div class="d-grid">
        <button type="button" class="btn btn-dark" routerLink="/content/login"> Regresar</button>
    </div>
</form>