<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="sidebar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/full/administrator/create-movie"
                            routerLinkActive="active">Crear Pelicula</a>
                    </li>
                    <li class="nav-item active-item">
                        <a class="nav-link" routerLink="/full/administrator/create-room" 
                            routerLinkActive="active">Crear Sala</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/full/administrator/create-ticket"
                            routerLinkActive="active">Taquilla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/full/administrator/create-ticket"
                            routerLinkActive="active">Concurrentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/full/administrator/users"
                            routerLinkActive="active">Usuarios</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>