<div class="container w-75 mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg"></div>
        <div class="col">
            <div class="text-end">
                <img appImageBroken src="./assets/cine.png" height="40" width="40">
            </div>
            <h2 class="fw-bold text-center py-5">¡Bienvenido!</h2>

            <!-- LOGIN -->
            <form action="#" class="p-5">
                <div class="mb-4">
                    <label for="email" class="form-label">Correo electrónico:</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" name="email">
                </div>
                <div class="mb-4">
                    <input type="checkbox" class="form-check-input mx-2" name="remember">
                    <label for="remember" class="form-label"> Recordarme</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary"> Iniciar Sesión</button>
                </div>
                <div class="my-3 d-grid">
                    <span class="text-center">No tienes cuenta <a href="#">Registrar cuenta</a></span>
                    <br>
                    <span class="text-center"><a href="#">Recuperar contraseña</a></span>
                </div>
            </form>
        </div>
    </div>
</div>